<h1>Setbacks#new</h1>
<p>Find me in app/views/setbacks/new.html.erb</p>



<%= form_for @setback do |s| %>
  <div>
    <%= s.label :setback_cost %>
    <%= s.number_field :setback_cost %>    
  </div>
  <div>
    <%= s.label :setback_date %>
    <%= s.date_field :setback_date, :value => Time.now %>
  </div>

  <%= s.hidden_field :vice_id, :value => @vice.id %>


  <%= s.submit %>

<% end %>