<h1>Sessions#new</h1>

<h1>Login</h1>
  <%= link_to "<< Home", root_path %><br><br>

  <%= form_for :user do |f| %>
    <%= f.email_field :email, placeholder: "Enter your email" %>
    <%= f.password_field :password, placeholder: "Enter your password" %>
    <%= f.submit "Login" %>
<% end %>