<div class="container">
  <h3 class="pull-right"><%= @current_user[:name] %>'s Vices</h3>

  <% if @vices %>
  <% (0...@vices.length).each do |i| %>
  <% if @current_user.id == @vices[i].user_id %>
  <div>
   <h2><a href="vices/<%= @vices[i].id %>"><%= @vices[i].vice_name %></a></h2>

   <div><strong>Total Money Saved:</strong> <%= @vices[i].vice_cost %></div>
   <div><strong>Goal:</strong> <%= @vices[i].goal_name %></div>
   <div><strong>Days Till Goal:</strong> <%= @until %></div>


  <div class="progress" style="min-width: 20px; max-width: 350px;">
    <div class="progress-bar progress-bar-warning progress-bar-striped active progressBar" role="progressbar" style="width: <%= (((@vices[i].vice_cost * ((Time.now - @vices[i].created_at).to_i / 1.day ) - (Setback.where(:vice_id => @vices[i].id ).sum(:setback_cost)) ) .to_f/@vices[i].goal_cost.to_f) * 100) %>%"><span id="progressPercent"><%= (( (@vices[i].vice_cost * ((Time.now - @vices[i].created_at).to_i / 1.day) -  (Setback.where(:vice_id => @vices[i].id ).sum(:setback_cost)) ) .to_f/@vices[i].goal_cost.to_f) * 100) %>%</span>
    </div>
  </div>  
  <hr>
  </div>

  <% if @vices[i].setbacks.length > 0 %>
     <div>Days since last setback: <%= (((Time.now).to_i) - (@vices[i].setbacks.maximum(:setback_date)).to_i) / 1.day - 1 %></div>
    <% (0...@vices[i].setbacks.length).each do |s| %>
    <div>
     Setback date: <%= @vices[i].setbacks[s].setback_date %> |
     Setback cost: <%= @vices[i].setbacks[s].setback_cost %>
    </div>
  <% end %>
  <% else %>
    <div><em>No setbacks so far - that's fucking super.</em></div><br>
  <% end %>
  
  <%= link_to "Add Setback", newsetback_path(:vice_id => @vices[i].id), class: 'btn-sm btn-toolbar navbar-btn' %>
  <%= link_to "Edit", edit_vice_path(@vices[i]), class: 'btn-sm btn-toolbar navbar-btn' %>
  <%= link_to "Delete", vice_path(:id => @vices[i].id, :vice_id => @vices[i].id), method: :delete, class: 'btn-sm btn-toolbar navbar-btn' %>
  <% end %>
  <% end %>

  <% else %>
  Vices not found.
  <% end %>
</div>

<div class="clearfix"></div>
<div class="container center-block text-center">
  <%= link_to "Add New Vice", new_vice_path, class: 'btn' %>
</div>
</div>