<!-- <h3 class="text-center">Your vices</h3> -->
<div class="container">
  <h2>You've Been Quitting <br> <span class="yellowBackground"> <%= @vice.vice_name %> </span>&nbspfor <span class="yellowBackground"><%= time_ago_in_words(@vice.created_at) %></h2>
  <h3>Progress:</h3>
  <div class="progress" style="min-width: 20px;">
    <div class="progress-bar progress-bar-warning progress-bar-striped active progressBar" role="progressbar" style="width: <%= @progress %>%"><span id="progressPercent"><%= @progress %>%</span>
    </div>
  </div>  
  <hr>
  <h2>You've Saved <span class="yellowBackground">$<%= @saved %></span> at a daily cost of <span class="yellowBackground">$<%= @vice.vice_cost %></span></h2>
  <hr>
  <h2>Keep it up, you're 
  <br>
  <span class="yellowBackground"><%= @until %></span> Days
  <br>
  From Your Goal of 
  <br>
  <span class="yellowBackground">$<%= @vice.goal_cost %></span> for 
  <span class="yellowBackground"><%= @vice.goal_name  %></span></h2>
  <hr>

  <h2>Setbacks:</h2>
    <% if @vice.setbacks.length > 0 %>
      <h2>Days since your last setback: <span class="yellowBackground"><%= @since %></span></h2>
      <% (0...@vice.setbacks.length).each do |s| %>
        <div>

        Setback date: <%= @vice.setbacks[s].setback_date %> |
        Setback cost: $<%= @vice.setbacks[s].setback_cost %>
         <%= link_to "Delete", setback_path(:setback_id => @vice.setbacks[s].id), method: :delete, class: 'btn-sm btn-toolbar navbar-btn' %>
        </div>
      <% end %>
    <% else %>
      <div class="small"><em>No setbacks so far - great job!</em></div><br>
    <% end %>
   
  <h3>MATHS!</h3>
  Setbacks total: <%= @setbackTotal %>


  <%= link_to "Add Setback", newsetback_path(:vice_id => @vice[:id]), class: 'btn-sm btn-toolbar navbar-btn' %>

</div>
