<!-- <h3 class="text-center">Your vices</h3> -->
<div class="container">
  <h2>You're Quitting <br> <span class="yellowBackground"> <%= @vice.vice_name %> </span></h2>
  <hr>
  <h2>You've Saved <span class="yellowBackground">$<%= @vice.vice_cost  %></span></h2>
  <hr>
  <h2>Keep it up, you're 
  <br>
  <span class="yellowBackground"><%= time_ago_in_words(@vice.created_at) %></span>
  <br>
  From Your Goal To 
  <br>
  <span class="yellowBackground"><%= @vice.goal_name  %></span></h2>
  <hr>

  <p><%= @vice.goal_cost  %></p>

  <%= progress_bar 0.45, alternative: 'success', active: true  %>
  => <div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><span class="sr-only">45%</span></div></div>  
  </div>

